:root {
  --space-xs: 0.4rem;
  --space-s: 0.8rem;
  --space-m: 1.6rem;
  --space-l: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 4rem;
  --space-xxxl: 4.8rem;
  --space-xxxxl: 5.6rem;
  --space-xxxxxl: 6.4rem;
  --space-huge: 7.2rem;
  --space-giant: 8rem;
}

* {
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* 1rem = 10px, 10px(target) / 16px(browser default) = 62.5%; */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  min-height: 100vh;
}

html, body {
  height: 100%; /* Уверете се, че html и body заемат цялата височина на прозореца */
}

main{
  flex-grow: 1;
}

.container {
  width: 144rem;
  max-width: 144rem;
  margin: 0 auto;
  margin-bottom: var(--space-xxl);
}

.navbar-brand {
  margin-right: 2rem;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: flex-end;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contacts {
  padding: 1rem;
}

.wellcome-section,
.learn-more-section {
  margin: 5rem auto;
  width: 57%;
}

/* .container,
.error-container {
  height: 80%;
} */

.error-container {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.profile-page .profile-info {
  padding: var(--space-m);
  border-radius: var(--space-s);
  background-color: #f8f9fa;
}
.profile-page .actions a {
  margin-top: var(--space-s);
}

.user-dashboard .list-group-item {
  margin-bottom: var(--space-s);
  border-radius: var(--space-xs);
}
.user-dashboard .dashboard-content {
  padding: var(--space-m);
  background-color: #f8f9fa;
  border-radius: var(--space-s);
}

.footer {
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-right: 0.5rem;
  }
}
