<div class="error-container text-center">
  <h1 class="display-1">404</h1>
  <p class="lead">Oops! The page you're looking for can't be found.</p>
  <hr />
  <p>We're sorry, but the page you were trying to view does not exist. It looks
    like this was the result of either:</p>
  <ul class="list-unstyled">
    <li>a mistyped address</li>
    <li>an out-of-date link</li>
  </ul>
  <a href="/" class="btn btn-primary">Go Home</a>
  <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
</div>